{% extends 'dashboard_layout.html' %}

{% block content %}
        <h3><i class="fa fa-angle-right"></i> About</h3>
        <div class="row mt">
          <div class="col-lg-12">
            <p>Oamenii cu maladii ale sistemului de respirație (astm bronșic, bronșită cronică, insuficiență respiratorie ș.a.) sunt foarte sensibili la condițiile mediului (temperatura, umiditatea, calitatea aerului). Prin urmare, aceștia pot simți disconfort în casa lor proprie, unde petrec o parte mare a timpului său.
            </p>
            <p>Echipa ON FIRE a creat un sistem care îl informează pe utilizator despre climă în casă, propune  acțiuni pentru a ameliora posibilele consecințe negative pentru aparatul său respirator. Sistemul calculează condițiile optime în casă pentru utilizatorul dat și vine cu reprezentarea evidentă a datelor, iar utilizatorul are posibilitatea să deducă concluzii.
            </p>
          </div>
        </div>

{% endblock %}